<a href="https://colab.research.google.com/github/raulbenitez/AIHEART/blob/main/PRML_midterm_2021_statement_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pattern Recognition and Machine Learning
Partial exam, April 16, 2021


The questions and exercises are described in this Python notebook. Please include the necessary text and code cells to answer the questions and upload the interactive Python notebook to the corresponding task in the ATENEA digital campus.

## **Question 1** (2 points):

Imagine we have a complex data base with elements belonging to two classes distributed in 3 bubbles in a two dimensional space.

Describe a couple of strategies to find a Neural Network model to solve this classification problem.

Answer here

## **Question 2** (2 points): 

Describe what is a parsimony index and how can we use it in the context of data clustering.

Answer here

## Exercise 1 (6 points): 


The exercise will be developed using one of the following 37 databases from from he plotly sample datasets: 

https://plotly.github.io/datasets/

1.	Walmart store openings
2.	2010 alchohol consumption by country X 
3.	2011 February AA flight paths
4.	2011 February US airport traffic
5.	2011 US agriculture exports
6.	2014 Apple stock X 
7.	2015 Shooting Incidents X 
8.	2014 ebola X 
9.	2014 US cities population
10.	2014 US states population X
11.	2014 world GDP X
12.	2015 precipitation
13.	Alpha shapes X 
14.	Grouped bar charts with Excel X 
15.	Bubble charts with Excel X
16.	Three Y axes with Excel X 
17.	Dot plot with Excel X 
18.	Gapminder data
19.	Globe contours X 
20.	Inset plot
21.	Text scatter charts X
22.	LaTeX typesetting X 
23.	NYC Uber rides
24.	Online dating (multiple_y_axis)
25.	OKCupid compatibility by religion X 
26.	Pareto chart X 
27.	School earnings
28.	Shaded regions X 
29.	Spectral
30.	Photon density subplot
31.	Climate change subplot
32.	Time series with error bars
33.	Time series dataframe
34.	Volcano
35.	Wind rose
36.	Wind speed
37.	Prostate cancer

Each student will be randomly assigned one of the databases by executing the code in the next code cell. The input parameter are the first three digits of your ID number (NIF, NIE or passport).

In [2]:
import numpy as np

input = 437 # put here the three fist digits of your ID number
np.random.seed(input)
ind = np.random.randint(38)
print('You should work with database number {}'.format(ind))

You should work with database number 11

You can either download the file or load the data by  accessing the raw file from the github repository https://github.com/plotly/datasets. For instance, to load the the first dataset in a pandas dataframe we would execute (path can be obtained by accessing the file from the GitHub and clicking the raw button):

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/1962_2006_walmart_store_openings.csv')
data.head(10)

   storenum OPENDATE date_super  conversion  ...       LON  MONTH DAY  YEAR
0         1   7/1/62     3/1/97         1.0  ... -94.07141      7   1  1962
1         2   8/1/64     3/1/96         1.0  ... -93.09345      8   1  1964
2         4   8/1/65     3/1/02         1.0  ... -94.50208      8   1  1965
3         8  10/1/67     3/1/93         1.0  ... -92.75858     10   1  1967
4         7  10/1/67        NaN         NaN  ... -92.30229     10   1  1967
5        10   7/1/68     3/1/98         1.0  ... -94.97185      7   1  1968
6        13  11/1/68     3/1/96         1.0  ... -94.31164     11   1  1968
7        12   7/1/68     3/1/94         1.0  ... -95.61192      7   1  1968
8        11   3/1/68    2/20/02         1.0  ... -92.35781      3   1  1968
9         9   3/1/68     3/1/00         1.0  ... -89.58355      3   1  1968

[10 rows x 16 columns]

In order to remove NaNs just execute:

In [ ]:
data_nonans = data.dropna() # remove observations with NaNs

print('original data = {}'.format(data.shape))
print('numerical data without NaNs = {}'.format(data_nonans.shape))

original data = (2992, 16)
numerical data without NaNs = (1946, 16)

Answer the following questions by adding as many text and code cells as needed.

### a) **Data handling** (2 points): 
Provide a description of the dataset combining written text, data handling with pandas and graphical representation of the data. You should cover aspects such as the presence of missing data, dimension of the dataset, types of variables, etc.

### b) **Dimensionality reduction** (2 points):

Apply a PCA to your dataset. How many principal components are required to account for 90% of the data variability? Report the eigenvalues, eigenvectors and the projection of the data to the PCA space of reduced dimensionality.

### c) **Clustering or Classification** (2 points): 

Choose **one** of the following depending on the nature of your data:

#### **Clustering**: 
Cluster the data (numerical features) using k-means, agglomerative or a Gaussian mixture model. Justify the number of clusters selected, visualize the clustering and briefly comment the results.

#### **Probabilistic classifier**: 
Identify a variable in the dataset that can be used as class label for supervised classification. Randomly split the data in training and test subsets. Train a probabilistic classifier (LDA, QDA, Gaussian Naive Bayes) using the training subset. Report some basic performance evaluation measures using the test subset.